<footer>
  <img style="width: 220px; height: 220px;" src="{{ site.baseurl }}/assets/img/clic_sticker.png" alt="clic sticker" height="100" width="100">
  <img style="width: 220px; height: 220px;" src="{{ site.baseurl }}/assets/img/clic_sticker.png" alt="clic sticker" height="100" width="100">
  <img style="width: 220px; height: 220px;" src="{{ site.baseurl }}/assets/img/clic_sticker.png" alt="clic sticker" height="100" width="100">
</footer>
